.carousel-container {
    overflow: hidden;
    border-radius: 15px;
}

.carousel-image {
    height: 70vh;
    object-fit: cover;
    object-position: top;
}

.carousel-caption-container {}

.carousel-caption-title {
    font-size: 5rem;
    font-weight: 700;
    color: var(--background-color);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: var(--text-color);
}

.carousel-caption-overview {}

.view-more {
    color: var(--accent-color);
    padding: 5px 10px;
    background-color: var(--background-color);
    border: 2px solid var(--accent-color);
    font-weight: 600;
    border-radius: 5px;
}

.watch-trailer {
    color: var(--background-color);
    padding: 5px 10px;
    background-color: var(--accent-color);
    font-weight: 600;
    border-radius: 5px;
}